<div class="top_panel">
	<h3> {{document_title}} </h3>

	<div><a href="#/{{document.id}}/points">Edit document points</a></div>
	<div><a href="#/">Back to document list</a></div>

	<div>
		<button class="in_text" ng-click="jump_back()">Jump back</button>
		<button class="in_text" ng-click="see_parents()" ng-if="(parent_shift == 1) && (panel_points.length > 2)">See parents</button>
		<button class="in_text" ng-click="see_children()" ng-if="parent_shift == 0">See children</button>
	</div>
</div>

<div class="parent_column" style="width: {{panel_width}}px; left: {{-parent_shift*panel_width}}px">
	<div class="column_inner">
		<span class="pointbox {{point.class}} {{point.context}}" ng-click="select_as_parent(point,1)" ng-repeat="point in panel_points[panel_points.length-1].parents">
			<span class="context" point-header="point"></span>
			<span class="{{point.context}}_inner" mathjax-bind="point"></span>
		</span>
	</div>
</div>
<div class="column_container" style="left: {{(num_panels-1+(1-parent_shift)*0.49-panel_points.length)*panel_width}}px">
	<div class="column_outer" style="width: {{panel_width}}px">
		<div class="column_inner narrow_column" style="text-align: left">
			<h3>Abstract →</h3>
			Click on different sections for further details. 
		</div>
	</div>
	<div class="column_outer" style="width: {{panel_width}}px" ng-repeat="panel in panel_points">
		<div class="column_inner">
			<span class="pointbox {{point.class}} {{point.context}}" ng-click="activate(point,$parent.$index+1)" ng-repeat="point in panel.children">
				<span class="context" point-header="point"></span>
				<span ng-if="(point.context != 'Figure') && (point.context != 'Smart Reference')" class="{{point.context}}_inner" mathjax-bind="point"></span>
				<span ng-if="point.context == 'Smart Reference'" class="Reference_inner">
					<span style="display: block; font-size: 0.8em">From: {{point.referenced_document.title}}</span>
					<span style="display: block">{{get_referenced_point(point).text}}</span>
				</span>
				<img ng-if="point.context == 'Figure'" class="{{point.context}}_inner" src="{{point.text}}"></img>
			</span>
			<div ng-if="(panel_points.length == $index+1)">
				<textarea class="comment_box" type="text" ng-model="panel_points[panel_points.length-1].new_comment"></textarea>
				<button class="in_text" ng-click="add_comment()">Add Comment</button>
			</div>
		</div>
	</div>
</div>