
* {
  box-sizing:           border-box;
  padding:              0px;
  margin:               0px;
}

html {
  /*background:           rgba(255,254.5,254,1.0);*/
  background:           white;
  height:               100%;
  overflow:             hidden;
}

/*.background {
  width:                100%;
  height:               110%;
  top:                  0px;
  left:                 0px;
  position:             absolute;
  background-image:     url(http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture6_1200.jpg);
  background-image:     url(images/paper_background.jpg);
  background-image:     url(images/seamlesstexture6_1200.jpg);
  background-size:      cover;
  opacity:              0.08;
  z-index:              -10;
}*/

body {
  position:             absolute;
  top:                  0px;
  font:                 16pt Delicious, Helvetica;
  height:               100%;
  width:                100%;
}

.uiview {
  height:               100%; 
  width:                100%;
}

@font-face {
  font-family:          Delicious;
  src:                  url("delicious-123/Delicious-Roman.otf") format("opentype");
}

@font-face {
  font-family:          Delicious;
  font-weight:          bold;
  src:                  url("delicious-123/Delicious-Bold.otf") format("opentype");
}

@font-face {
  font-family:          Delicious;
  font-weight:          900;
  src:                  url("delicious-123/Delicious-Heavy.otf") format("opentype");
}

input.title {
  font:                 16pt Delicious, Helvetica;
  width:                800px;
}

textarea {
  font:                 16pt Delicious, Helvetica;
  width:                800px; 
  resize:               vertical;
  background:           rgba(255,254.5,254,1.0);
}

button {
  font:                 15pt Delicious, Helvetica;
  padding:              5px;
}

select {
  border:               none;
  font:                 16pt Delicious, Helvetica;
}

button.in_text {
  margin:               15px 0px; 
}

.top_panel {
  height:               165px;
  width:                100%;
  padding:              10px;
}

.top_panel_points {
  height:               150px;
  width:                100%;
  padding:              10px;
}

.point_list {
  position:             absolute;
  height:               calc(100% - 150px);
  padding:              10px 20px 10px;
  overflow-y:           scroll;
}

.column_container {
  position:             absolute;
  height:               calc(100% - 200px);
  width:                100000px;
  -webkit-transition:   left 0.25s;
  transition:           left 0.25s;
}

.column_outer {
  display:              inline-block;
  width:                33.3%;
  height:               100%;
}

.parent_column {
  position:             absolute;
  width:                33.3%;
  height:               calc(100% - 200px);
  background-color:     white;
  z-index:              10;
  -webkit-transition:   left 0.25s;
  transition:           left 0.25s;
}

.column_inner {
  display:              inline-block;
  padding:              0px 5px 0px;
  width:                100%;
  height:               100%;
  overflow-y:           scroll;
  vertical-align:       top;
  line-height:          24px;
  text-align:           justify;
}

.narrow_column {
  width:                40%;
}

.column_inner span.pointbox {
  box-sizing:           content-box;
  width:                calc(100% - 24px);
  display:              block;
  padding:              8px 12px 10px;
  margin:               0px 0px 10px;
}

.column_inner span.pointbox:hover {
  font-weight:          bold;
}

.column_inner span.activated {
  font-weight:          bold;
  /*border-radius:        20px;*/
  border-width:         1px;
  border-style:         solid;
}

.parent_column .column_inner span.pointbox {
  background-color:     rgba(200,200,255,0.2);
}

.parent_column .column_inner span.pointbox.activated {
  background-color:     rgba(200,200,255,0.5);
}

.column_inner span.deactivated {
  color: gray;
}

.column_inner span.context {
  /*font-weight:          normal;*/
  font-size:            0.7em;
  display:              block;
  padding-bottom:       5px;
}

.comment_box {
  display:              block;
  width:                99%;
  margin-top:           15px;
}

.Comment {
  /*display:              block;*/
  width:                100%;
  padding:              0px 10px;
  font-size:            0.9em;
  /*border:               solid 1px blue;*/
  background-color:     rgba(245,245,255,1.0);
}

.Equation_inner {
  display:              block;
  /*font-size:            0.75em;*/
  text-align:           center;
}

.Figure_inner {
  width: 100%;
}

.editable_point {
  padding:              20px 0px;
}
